{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    </head>
    <body>
      <header>
        <a class = "dashboard" href="{% url 'landing_page:loginregister' %}"><h2 style="background-color: #fefefe;">U-League</h2></a>
        <a>Sudah memiliki akun?</a>
        <a class="cta" href="{% url 'landing_page:login' %}"><button style="color: #fff;">Login</button></a>
      </header>
    </body>
</html>