{% load static %}

<!DOCTYPE html>
<html>
    {% block meta %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    </head>
    {% endblock meta %}

    <body>
      <header>
        <a class = "dashboard" href="{% url 'penonton:show_penonton' %}"><h2 style="background-color: #fefefe;">U-League</h2></a>
        <nav>
            <ul class="nav__links">
                <li><a href="{% url 'penonton:show_pembelian_tiket' %}">Pembelian Tiket</a></li>
                <li><a href="{% url 'penonton:list_pertandingan' %}">List Pertandingan</a></li>
            </ul>
        </nav>
        <a class="cta" href="{% url 'landing_page:logout'%}"><button style="color: #fefefe;">Logout</button></a>
      </header>
    </body>
</html>